.footer-menu {
  color: $white;
  padding: 32px 16px;
  flex-wrap: wrap;

  @media (min-width: $min-tablet-width) {
    padding: 32px 30px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }
}

.footer-menu__contacts {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  justify-content: space-between;

  @media (min-width: $min-desktop-width) {
    color: $white;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    align-content: baseline;
  }

  p {
    @include text ($font-8, $line-height-8, $regular);
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media (min-width: $min-desktop-width) {
      align-self: baseline;
    }

    &:last-child {
      @media (min-width: $min-desktop-width) {
        margin-top: auto;
      }
    }
  }
}

.footer-menu__address {
  width: 130px;
}

.footer-menu__company {
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  color: $light-grey;
}

.footer-menu__links {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;

  @media (min-width: $min-desktop-width) {
    width: 120px;
  }

  li:not(.footer-menu__item--social) {
    width: 50%;
    margin-bottom: 15px;

    @media (min-width: $min-desktop-width) {
      margin-bottom: 40px;
      width: 100%;
    }
  }

  a {
    line-height: 16px;
    text-transform: uppercase;
    color: $white;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.footer-menu__social-link {
  svg {
    fill: $white;
  }

  &--active {
    svg {
      fill: $red;
    }
  }
}

.footer-menu__item {
  @media (min-width: $min-desktop-width) {
    display: inline-block;
  }

  &:not(.footer-menu__item--social) {
    width: unset;
    display: inline-block;
  }

  &--social {
    margin-right: 16px;
  }
}

.footer-menu__feedback {
  p {
    margin: 0;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media (min-width: $min-desktop-width) {
      margin-bottom: 24px;
    }
  }
}

.footer-menu__logo {
  width: 129px;
  height: 60px;

  @media (min-width: $min-desktop-width) {
    margin-bottom: 32px;
    width: 170px;
    height: 79px;
  }

  img {
    @media (min-width: $min-desktop-width) {
      width: 170px;
      height: 79px;
    }
  }
}
