.gallery {
  background-color: $white;
  padding: 20px 15px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $min-tablet-width) {
    padding: 20px 30px;
  }

  @media (min-width: $min-desktop-width) {
    justify-content: space-between;
    padding: 40px 30px;
  }
}

.gallery__hashtag {
  order: 0;
  background-color: $red;
  color: $white;
  padding: 16px;

  @media (min-width: $min-desktop-width) {
    order: -1;
    width: 370px;
    align-self: baseline;
    margin-bottom: 32px;
    padding: 32px;
  }

  .gallery__hashtag-paragraph {
    @include text ($font-24, $line-height-24, $regular);
    font-family: "PF Handbook Pro", "Arial", sans-serif;
    margin: 0;
    text-transform: uppercase;

    @media (min-width: $min-desktop-width) {
      @include text ($font-32, $line-height-32, $regular);
      margin-bottom: 16px;
    }
  }

  .gallery__details-paragraph {
    @include text ($font-16, $line-height-21, $regular);

    @media (min-width: $min-desktop-width) {
      @include text ($font-14, $line-height-18, $regular);
    }
  }

  .gallery__pictures-link {
    @include text ($font-16, $line-height-21, $regular);
    color: $white;
    text-transform: uppercase;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    @media (min-width: $min-desktop-width) {
      @include text ($font-14, $line-height-18, $regular);
    }
  }
}

.gallery__picture {
  position: relative;
  height: 290px;
  display: block;
  margin: 0 auto 16px;
  text-align: center;

  @media (min-width: $min-tablet-width) {
    margin: 0 0 16px 0;
    text-align: unset;
  }

  @media (min-width: $min-desktop-width) {
    height: 370px;
    width: unset;
    margin-bottom: 32px;
  }

  &--center {
    display: none;

    @media (min-width: $min-desktop-width) {
      display: block;
      height: 552px;
    }
  }

  svg {
    position: absolute;
    left: 19px;
    bottom: 19px;
    transform: scale(0.8);
  }

  &:hover,
  &:focus {
    svg {
      opacity: 0.7;
    }
  }
}

.gallery__picture-wrapper {
  width: 100%;

  @media (min-width: $min-tablet-width) {
    width: auto;
  }

  &:not(:last-of-type) {
    order: 0;

    .gallery__picture {
      &:not(:first-of-type) {
        display: none;

        @media (min-width: $min-tablet-width) {
          display: block;
        }
      }
    }
  }

  &:first-of-type {
    order: 3;

    @media (min-width: $min-desktop-width) {
      order: unset;
    }
  }

  @media (min-width: $min-desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
  }
}
