.intro {
  min-height: 266px;

  @media (min-width: $min-desktop-width) {
    padding: 20px 0 70px;
    min-height: 266px;
  }

  h1 {
    @include title ($font-40, $line-height-40, $bold, $white);
    font-family: "PF Handbook Pro", "Arial", sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    width: 260px;
    display: block;

    @media (min-width: $min-tablet-width) {
      @include title ($font-60, $line-height-60, $bold, $white);
      width: 70%;
    }

    @media (min-width: $min-desktop-width) {
      @include title ($font-90, $line-height-90, $bold, $white);
      width: 770px;
      margin-bottom: 40px;
    }

    span {
      @media (min-width: $min-desktop-width) {
        display: none;
      }
    }
  }

  p {
    margin: 0;

    @media (min-width: $min-desktop-width) {
      @include text ($font-24, $line-height-24, $regular);
      text-align: center;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 5px;
    }
  }

  a {
    &:hover,
    &:focus {
      opacity: 0.7;
    }

    @media (min-width: $min-desktop-width) {
      text-transform: uppercase;
      color: $white;
      margin: 0 auto;
      display: block;
      text-align: center;
      margin-top: 16px;
      text-decoration: underline;
    }
  }
}

.swiper-slide {
  padding-top: 60px;
  padding-bottom: 86px;
  background-image: url("../img/slider-mobile@1x.png");
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/slider-mobile@2x.png");
  }

  @media (min-width: $min-tablet-width) {
    padding-top: 170px;
    padding-bottom: 220px;
  }

  @media (min-width: $min-desktop-width) {
    background-image: url("../img/slider-desktop@1x.png");
    background-size: 100%;
    padding-top: 110px;
    padding-bottom: 160px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/slider-desktop@2x.png");
    }
  }
}

.swiper-slide__description {
  display: none;

  @media (min-width: $min-desktop-width) {
    display: block;
  }
}

.swiper-button-next {
  content: url("../img/icon-arrow.svg");
  right: 134px;
}

.swiper-button-prev {
  content: url("../img/icon-arrow.svg");
  left: 134px;
  transform: rotate(-180deg);
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid $white;
  width: 8px;
  height: 8px;

  @media (min-width: $min-desktop-width) {
    width: 16px;
    height: 16px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $white;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;

  @media (min-width: $min-desktop-width) {
    display: block;
    width: 41px;
    height: 16px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.swiper-container {
  &--stores {
    .swiper-slide {
      background-image: none;
      padding: 0;
    }
  }
}
