.navigation {
  &--contacts {
    display: none;
    min-height: 102px;

    @media (min-width: $min-desktop-width) {
      min-height: auto;
      display: flex;
      padding: 16px 0;
      color: $white;
    }

    &--show {
      display: flex;
      flex-wrap: wrap;
    }

    p {
      margin: 0;
      margin-bottom: 16px;
      width: 100%;

      @media (min-width: $min-desktop-width) {
        margin: 0;
        text-transform: uppercase;
        width: auto;
      }

      &:first-of-type {
        @media (min-width: $min-desktop-width) {
          margin-right: 52px;
        }
      }

      &:last-of-type {
        @media (min-width: $min-desktop-width) {
          margin-left: 21px;
        }
      }
    }

    .navigation__contacts-map {
      text-transform: uppercase;
      color: $white;
      order: -1;
      width: 100%;
      text-align: center;
      margin-bottom: 64px;

      &:hover,
      &:focus {
        opacity: 0.7;
      }

      @media (min-width: $min-desktop-width) {
        margin-bottom: 0;
        width: auto;
        order: 2;
        color: $red;
        text-decoration: underline;
      }
    }
  }

  &--main-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $min-desktop-width) {
      flex-wrap: nowrap;
      display: flex;
      padding: 40px 0;
    }
  }
}

.navigation__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;

  @media (min-width: $min-desktop-width) {
    position: relative;
    bottom: unset;
    margin-left: auto;
    width: 470px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.navigation__social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;

  @media (min-width: $min-desktop-width) {
    justify-content: unset;
  }

  li {
    margin-right: 30px;

    @media (min-width: $min-desktop-width) {
      margin-right: 16px;
    }
  }

  svg {
    fill: $white;
  }

  .navigation__social-link {
    &:hover,
    &:focus {
      svg {
        fill: $red;
      }
    }
  }
}

.navigation__menu-links {
  @include list-reset;
  display: none;

  &--show {
    display: block;
    width: 100%;
  }

  @media (min-width: $min-desktop-width) {
    display: flex;
    width: 870px;
    justify-content: space-between;
  }

  li {
    border-bottom: 1px solid $white;
    text-transform: uppercase;
    color: $white;
    padding: 8px 0;
    width: 100%;

    @media (min-width: $min-desktop-width) {
      color: $black;
      width: unset;
      padding: 0;
    }
  }

  a {
    color: $white;

    @media (min-width: $min-desktop-width) {
      color: $black;
    }
  }

  a:hover,
  a:focus {
    color: $red;
  }

  .navigation__menu-link {
    &--active {
      color: $red;
    }
  }
}

.navigation__menu-link-br {
  display: none;

  @media (min-width: $min-desktop-width) {
    display: block;
  }
}

.navigation .navigation__search-open {
  width: 114px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: flex-end;
  margin-left: auto;

  &--hide {
    display: none;
  }

  @media (min-width: $min-desktop-width) {
    padding-right: 0;
  }
}

.navigation__menu-open {
  display: block;

  &--hide {
    display: none;
  }

  @media (min-width: $min-desktop-width) {
    display: none;
  }
}

.navigation__menu-close {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;

  &--show {
    display: block;
  }

  svg {
    fill: $white;
  }
}

.navigation__logo {
  height: 61px;

  &--hide {
    display: none;
  }

  img {
    min-width: 130px;
    min-height: 61px;

    @media (min-width: $min-desktop-width) {
      width: 170px;
      height: 79px;
    }
  }

  @media (min-width: $min-desktop-width) {
    margin: 0 30px 0 0;
    width: 170px;
    height: 79px;

    &--hide {
      display: none;
    }
  }
}
