.news {
  background-color: $white;
  padding: 40px 15px 20px;

  @media (min-width: $min-tablet-width) {
    padding: 40px 30px 20px;
  }

  @media (min-width: $min-desktop-width) {
    padding-bottom: 40px;
  }

  figure,
  h2 {
    margin: 0;
  }

  figure {
    width: 290px;
    margin: 0 auto;

    &:not(:first-child) {
      display: none;

      @media (min-width: $min-desktop-width) {
        display: block;
      }
    }

    &:not(:last-child) {
      @media (min-width: $min-tablet-width) {
        display: block;
      }
    }

    @media (min-width: $min-tablet-width) {
      width: 290px;
      display: block;
    }

    @media (min-width: $min-desktop-width) {
      width: 370px;
      box-shadow: 0 0 27px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
  }

  h2 {
    @include title ($font-24, $line-height-24, $bold, $black);
    font-family: "PF Handbook Pro", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media (min-width: $min-desktop-width) {
      @include title ($font-48, $line-height-48, $bold, $black);
    }
  }

  a {
    color: $white;
    background-color: $red;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    padding: 5px 10px;
    width: 148px;
    display: block;
    margin-top: 24px;
    line-height: 16px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  figcaption {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;

    @media (min-width: $min-desktop-width) {
      padding: 33px;
    }

    a {
      @include text ($font-8, $line-height-8, $regular);
      font-family: "helvetica-regular", "Arial", sans-serif;
      width: 88px;
      padding: 0;
      margin: 0;
      margin-top: 16px;
      margin-bottom: 40px;
      display: block;
      color: $red;
      background-color: transparent;

      &:hover,
      &:focus {
        opacity: 0.7;
      }

      @media (min-width: $min-desktop-width) {
        @include text ($font-14, $line-height-14, $regular);
        width: unset;
      }
    }

    a,
    h3,
    p {
      margin: 0;

      @media (min-width: $min-desktop-width) {
        margin: 0;
      }
    }

    p {
      display: none;

      @media (min-width: $min-desktop-width) {
        @include text ($font-14, $line-height-18, $regular);
        display: block;
        margin-bottom: 24px;
      }
    }

    h3 {
      @include title ($font-16, $line-height-19, $bold, $black);
      font-family: "PF Handbook Pro", "Arial", sans-serif;
      text-transform: uppercase;
      margin-bottom: 16px;

      @media (min-width: $min-desktop-width) {
        @include title ($font-21, $line-height-25, $bold, $black);
        margin-bottom: 24px;
        min-height: 75px;
      }
    }
  }
}

.news__content {
  @media (min-width: $min-tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: $min-desktop-width) {
    margin-bottom: 36px;
  }
}

.news--promotions .news__content {
  @media (min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    display: none;

    @media (min-width: $min-tablet-width) {
      display: block;
    }

    @media (min-width: $min-desktop-width) {
      display: block;
      margin-bottom: 40px;
    }

    a {
      margin-right: auto;
    }

    figcaption {
      flex-direction: column;
    }
  }

  .news__event--newyear {
    display: block;
  }

  .news__event-date {
    display: block;
    margin-bottom: 16px;
  }

  time {
    @include text ($font-14, $line-height-18, $regular);
    font-family: "Helvetica Neue", "Arial", sans-serif;
    width: 100%;
  }
}
