.stores-catalog {
  background-color: transparent;
}

.stores-catalog__item {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;

  @media (min-width: $min-tablet-width) {
    justify-content: space-around;
  }

  &:not(:last-of-type) {
    margin-bottom: 32px;

    @media (min-width: $min-desktop-width) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $min-desktop-width) {
    flex-wrap: nowrap;
    border-radius: 2px;
  }

  &--active {
    display: none;

    @media (min-width: $min-desktop-width) {
      display: flex;
    }

    .stores-catalog__item-desc {
      @media (min-width: $min-desktop-width) {
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.15);
      }
    }
  }

  &:hover {
    .stores-catalog__item-desc {
      @media (min-width: $min-desktop-width) {
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.stores-catalog__list {
  padding: 40px 15px 0;

  @media (min-width: $min-tablet-width) {
    padding: 40px 30px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 80px 113px 40px 100px;
  }
}

.stores-catalog__item-picture {
  @media (min-width: $min-desktop-width) {
    height: 277px;
  }
}

.stores-catalog__item-desc {
  padding: 16px;

  @media (min-width: $min-tablet-width) {
    padding: 32px 87px 32px 130px;
    flex-grow: 1;
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.1);
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    @include title ($font-16, $line-height-19, $bold, $black);
    font-family: "PF Handbook Pro", "Arial", sans-serif;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media (min-width: $min-desktop-width) {
      @include title ($font-21, $line-height-25, $bold, $black);
    }
  }

  p {
    @include text ($font-14, $line-height-18, $regular);
    font-family: "Helvetica Neue", "Arial", sans-serif;
  }

  .stores-catalog__item-info {
    margin-top: 16px;
    margin-bottom: 8px;

    @media (min-width: $min-desktop-width) {
      margin-top: 57px;
    }
  }

  .stores-catalog__item-category {
    text-transform: uppercase;
  }

  .stores-catalog__item-link {
    @include text ($font-8, $line-height-8, $regular);
    font-family: "helvetica-regular", "Arial", sans-serif;
    text-transform: uppercase;
    color: $red;
    margin-top: 16px;
    display: block;

    @media (min-width: $min-desktop-width) {
      @include text ($font-14, $line-height-14, $regular);
      margin-top: 32px;
    }
  }
}
