.subscription {
  background-color: $white;
  padding: 20px 16px 40px 16px;
  color: $white;

  @media (min-width: $min-tablet-width) {
    padding: 20px 30px 40px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 40px 100px 80px;
  }
}

.subscription__content {
  padding: 16px;
  background-color: $orange;

  @media (min-width: $min-desktop-width) {
    background-color: unset;
    width: 970px;
    height: 372px;
    background-image: url("../img/phone-desktop@1x.png"), linear-gradient(#ffffff 30%, #f9b233 30% 70%);
    background-size: 38%, 100%;
    background-position: bottom right, top center;
    padding: 134px 452px 16px 149px;
    background-repeat: no-repeat;
    color: $white;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/phone-desktop@2x.png"), linear-gradient(#ffffff 30%, #f9b233 30% 70%);
    }
  }

  p {
    margin: 0;
    margin-bottom: 16px;

    &:first-of-type {
      @include text ($font-24, $line-height-24, $bold);
      font-family: "PF Handbook Pro", "Arial", sans-serif;
      text-transform: uppercase;

      @media (min-width: $min-desktop-width) {
        @include text ($font-32, $line-height-32, $bold);
        margin-bottom: 16px;
      }
    }

    &:last-of-type {
      @include text ($font-14, $line-height-18, $regular);

      @media (min-width: $min-desktop-width) {
        margin-bottom: 24px;
      }
    }
  }

  span {
    color: $red;
  }

  button {
    @include button ($font-14, $line-height-14, $regular, $white);
    font-family: "helvetica-regular", "Arial", sans-serif;
    background-color: $red;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 15px;

    @media (min-width: $min-desktop-width) {
      padding: 10px 15px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 0.7;
      border: 1px solid $black;
    }
  }
}
